.zxc{
    padding-left: 400px;
}

.oil{
    background-color: black;
}

albino{
    color: white;
}

.popalbino{
    padding-left: 400px;
    color: white;
}

.qwe{
    background-color: steelblue;
}

.qw{
    background-color: seagreen;
}