body{
    background: url("../img/fk.jpg");
    margin: 0%;
}
#w1{
    margin-right: 20px;
    font-size: 30px;color: blue;
    font-family: cursive;
}

#w2{
    font-size: 30px;
    color: red;
    }
#w2:hover{
    font-size: 30px;
    color: gold;
}



.d1{background-color: rgba(128, 255, 0, 0.418);
width: 20%;
height: 200px;
}

.d2{ background-color: rgba(255, 217, 0, 0.356);
    width: 100%;
    height: 200px;
    counter-reset: rgba(255, 217, 0, 0.39);
}

#try{
    background: url("../img/fu.jpg")
}

#try:hover{
    background: url("../img/fu2.jpg")
}